/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.25s ease-out;
  -o-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  font-size: 1.25rem; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
}
/* Icon */
.tab {
  label{
    position: relative;
    &:after {
      position: absolute;
      float: right;
      right: 0;
      top: 50%;
      transform-origin: center center;
      transform: translateY(-50%);
      display: block;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5;
      font-size: 1.25rem;
      text-align: center;
      -webkit-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
    }
  }
}
/* Icon formatting - closed */
.tab input[type='checkbox'] + label::after {
  content: '+';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border:none;
  border-radius: 9999px; /*.rounded-full */
}
.tab input[type='radio'] + label::after {
  content: '\25BE';
  font-weight: bold; /*.font-bold*/
  border:none;
  border-radius: 9999px; /*.rounded-full */
}
/* Icon formatting - open */
.tab input[type='checkbox']:checked + label::after {
  transform: rotate(315deg) translateY(-50%);
}
.tab input[type='radio']:checked + label::after {
  transform: rotateX(180deg) translateY(-50%);
}
