html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
body {
  position: relative;
  // min-height: 100vh;
  width: 100%;
}

.abs {
  top: 0;
  left: 0;
  position: absolute;
}

.fix {
  top: 0;
  left: 0;
  position: fixed;
}
.rel {
  top: 0;
  left: 0;
  position: relative;
}

.absFull {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.clickKill {
  cursor: none;
}

.mobile .clickKill {
  display: block;
  cursor: pointer;
}

.tl {
  top: 0;
  left: 0;
  position: absolute;
}
.t {
  top: 0;
  left: 50%;
  position: absolute;
}
.tr {
  top: 0;
  right: 0;
  position: absolute;
}
.l {
  top: 50%;
  left: 0;
  position: absolute;
}
.c {
  top: 50%;
  left: 50%;
  position: absolute;
}
.hc {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.tc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.r {
  top: 50%;
  right: 0;
  position: absolute;
}
.bl {
  bottom: 0;
  left: 0;
  position: absolute;
}
.b {
  bottom: 0;
  left: 50%;
  position: absolute;
}
.br {
  bottom: 0;
  right: 0;
  position: absolute;
}
.full {
  width: 100%;
  height: 100%;
  display: block;
}
.fullw {
  width: 100%;
}
.fullH {
  height: 100%;
}
.invis {
  visibility: hidden;
  opacity: 0;
}
.hList {
  list-style: none;
  white-space: nowrap;
}
.hList li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes brightin {
  from {
    filter: brightness(800%) blur(30px);
  }
  to {
    filter: brightness(100%) blur(0px);
    filter: none;
  }
}
.multiply {
  mix-blend-mode: multiply;
}
.overlay {
  mix-blend-mode: overlay;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}