@import './helpers';
@import './typovars';

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
}
h1 {
  font-family: $sans;
  font-weight: 800;
  font-style: normal;
  color: $yellow;
  font-size: calc(64 / 1920 * 100vw);
  @include fluid-type($minwidth, $maxwidth, 44px, 54px);
  line-height: 1.125em;

  @media only screen and (max-width: $medwidth) {
    font-size: 32px;
  }
}
h2 {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
  color: $blue;
  @include fluid-type($minwidth, $maxwidth, 22px, 32px);
  line-height: 1em;
}
p {
  font-family: $serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5em;
  color: #fff;
  @include fluid-type($minwidth, $maxwidth, 18px, 24px);
  a {
    text-decoration: underline;
    @media (hover: hover) {
      &:hover {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}
a:not(nav a) {
  text-decoration: underline;
  @media (hover: hover) {
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}

button {
  background-color: $blue;
  text-align: center;
  border-radius: 2px;
  font-family: $sans;
  padding: 9px 15px 10px;
  min-width: 180px;
  margin: 0px 15px 15px;
  letter-spacing: 0.05em;
  @include fluid-type($minwidth, $maxwidth, 17px, 20px);
  @media (hover: hover) {
    &:hover {
      background-color: $yellow;
    }
  }
}
//MAIN CONTENT AREA STYLES
#mainContent {
  #contentHolder {
    margin: auto;
    max-width: 650px;
    padding: calc(40 / 1920 * 100vw);
    // top: 24vh;
    // left: 60px;
    h1 {
      padding-bottom: 15px;
      // padding-bottom: calc(29 / 1080 * 100vh);
    }
    p {
      padding: 0px 0px 21px;
    }
  }
  @media only screen and (max-width: $medwidth) {
    #contentHolder {
      padding: 27px;
      max-width: initial;
      width: auto;
      left: 50px;
      right: 50px;
    }
  }
}

//SECONDARY PAGES
section.secondary {
  position: relative;
  min-height: 100vh;
  // padding: 195px 60px 60px;
  padding: 18vw 10vw 8vw;
  h1,
  h2 {
    line-height: 1.5em;
  }
  p,
  li,
  a,
  blockquote {
    font-family: $serif;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
    color: #000;
    margin-bottom: 30px;
    @include fluid-type($minwidth, $medwidth, 20px, 24px);
  }
  @media only screen and (max-width: $medwidth) {
    h1 {
      margin-top: 25px;
    }
  }
}
strong{
  font-weight:800;
  margin-bottom:0px;
}
// FORMS
::-webkit-input-placeholder {
  color: $dkblue;
}
::-moz-placeholder {
  color: $dkblue;
}
:-ms-input-placeholder {
  color: $dkblue;
}
:-moz-placeholder {
  color: $dkblue;
}
form {
  .block {
    margin-bottom: 15px;
  }

  input,
  select {
    border-radius: 2px;
    padding: 8px;
    @include fluid-type($minwidth, $maxwidth, 16px, 18px);
    color: $dkblue;
    font-weight: 600;
    &::placeholder {
      color: $dkblue;
    }
  }
  input {
    &:focus {
      &::placeholder {
        opacity: 0.3;
        // visibility: hidden;
      }
    }
  }
}
.tile {
  cursor: pointer;
  border-bottom: 0.5px $blue solid;
  padding: 10px 0px 12px 15px;
  // min-height: 150px;
  color: #fff;
  h4 {
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.06em;
    // color:$blue;
  }
  a {
    color: #fff;
    display: block;
    * {
      pointer-events: none;
    }
  }
  h4,
  p {
    line-height: 1.1em;
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    @include fluid-type($minwidth, $maxwidth, 13px, 16px);
  }
  @media (hover: hover) {
    &:nth-child(15n + 1) {
      &:hover {
        background-color: #232748;
      }
    }
    &:nth-child(15n + 2) {
      &:hover {
        background-color: #e0595d;
      }
    }
    &:nth-child(15n + 3) {
      &:hover {
        background-color: #ff9036;
      }
    }
    &:nth-child(15n + 4) {
      &:hover {
        background-color: #392d56;
      }
    }
    &:nth-child(15n + 5) {
      &:hover {
        background-color: #ef6952;
      }
    }
    &:nth-child(15n + 6) {
      &:hover {
        background-color: #853a6e;
      }
    }
    &:nth-child(15n + 7) {
      &:hover {
        background-color: #513261;
      }
    }
    &:nth-child(15n + 8) {
      &:hover {
        background-color: #b7446c;
      }
    }
    &:nth-child(15n + 9) {
      &:hover {
        background-color: #9f3f6e;
      }
    }
    &:nth-child(15n + 10) {
      &:hover {
        background-color: #e0595d;
      }
    }
    &:nth-child(15n + 11) {
      &:hover {
        background-color: #6a3769;
      }
    }
    &:nth-child(15n + 12) {
      &:hover {
        background-color: #cd4d66;
      }
    }
    &:nth-child(15n + 13) {
      &:hover {
        background-color: #ffa726;
      }
    }
    &:nth-child(15n + 14) {
      &:hover {
        background-color: #232748;
      }
    }
    &:nth-child(15n + 15) {
      &:hover {
        background-color: #f97b45;
      }
    }
  }
}
