@import url('https://use.typekit.net/ags0dey.css');


// SIZES

$maxwidth: 1920px;
$medwidth: 1020px;
$minwidth: 750px;

$maxheight: 1080px;
$minheight: 800px;



// $dkblue: #1e3b6f;
$evening: #ef6952;
.evening {
  fill: $evening;
  background: $evening;
}
.text-evening {
  color: $evening !important;
}
$dkblue: #101f39;
.dkblue {
  fill: $dkblue;
  background: $dkblue;
}
$dkgrey: #4d4d4d;
.dkgrey {
  fill: $dkgrey;
  background: $dkgrey;
}
$ltgrey: #3F3F3F;
.ltgrey {
  fill: $ltgrey;
  background: $ltgrey;
}
$blue: #549dff;
.blue {
  fill: $blue;
  background: $blue;
}
$yellow: #fabe12;
.yellow {
  fill: $yellow;
  background: $yellow;
}
.text-yellow {
  color: $yellow;
}

//TYPE
.sans {
  font-family: expressway, sans-serif;
}
$sans: expressway, sans-serif;
.serif {
  font-family: freight-text-pro, serif;
  letter-spacing:0.04em;
}
$serif: freight-text-pro, serif;
