<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Global Peace Practice</title>
    <meta property="og:type" content="website" />
    <meta
      name="description"
      content="The Global Peace Practice is a web-based tool designed to unite people in the creation of peace and amplify their energy through a globally shared framework."
    />
    <meta property="og:url" content="http://globalpeacepractice.org/" />
    <meta property="og:title" content="Global Peace Practice | Coming Soon" />
    <link rel="apple-touch-icon" sizes="57x57" href="favi/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="favi/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="favi/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="favi/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="favi/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="favi/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="favi/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="favi/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="favi/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="favi/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favi/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="favi/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favi/favicon-16x16.png" />
    <link rel="manifest" href="favi/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="favi//ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      property="og:description"
      content="The Global Peace Practice is a web-based tool designed to unite people in the creation of peace and amplify their energy through a globally shared framework."
    />
    <!-- <meta property="og:image" content="" name="thumb"> -->
    <meta property="og:site_name" content="Global Peace Practice | Coming Soon" />
    <meta name="twitter:card" content="summary_small_image" />
    <meta name="twitter:title" content="Global Peace Practice | Coming Soon" />
    <meta
      name="twitter:description"
      content="The Global Peace Practice is a web-based tool designed to unite people in the creation of peace and amplify their energy through a globally shared framework."
    />
    <meta name="keywords" content="" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:domain" content="GlobalPeacePractice.org" />
    <meta name="twitter:url" content="http://globalpeacepractice.org/" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0W65G9CVNH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-0W65G9CVNH');
    </script>
  </head>
  <body>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5kiFYDCOpSigk71I-QNrYJ595_PmBHTY&callback=initmap"></script> -->
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please
        enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
