<template>
  <section id="faq" class="secondary bg-white w-full">
    <h1 v-html="pageData.Title">This is the FAQ page</h1>
    <div v-html="pageData.Content"></div>

    <!-- ACCORDION MARKUP -->
    <div class="w-full lg:p-8 md:p-4">
      <div class="w-full">
        <div v-for="item in pageData.accordion" :key="item.id" class="tab w-full overflow-hidden border-b">
          <input class="absolute opacity-0 " v-bind:id="item.id" type="checkbox" name="tabs" />
          <label class="block p-5 leading-normal cursor-pointer" v-bind:for="item.id"><h2>{{ item.Title }}</h2></label>
          <div class="tab-content overflow-hidden leading-normal">
            <p class="lg:p-4 md:p-2">
              {{ item.Content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from 'axios';

export default {
  data() {
    return {
      pageData: {},
    };
  },
  created() {
    // LOAD FROM API
    axios
      .get(this.$store.state.api + 'faq/')
      .then((response) => {
        console.log(`faq: ${JSON.stringify(response.data)}`);
        this.pageData = response.data;
        this.$forceUpdate();
      })
      .catch((error) => console.log(error));
  },
  mounted() {},
  methods: {
    toggle: function() {
      var myRadios = document.getElementsByName('tabs2');
      var setCheck;
      var x = 0;
      for (x = 0; x < myRadios.length; x++) {
        myRadios[x].onclick = function() {
          if (setCheck != this) {
            setCheck = this;
          } else {
            this.checked = false;
            setCheck = null;
          }
        };
      }
    },
  },
};
</script>
<style lang="scss" scope>
@import '../styles/helpers';
@import '../styles/typovars';
@import '../styles/shared';
@import '../styles/accordion';
#faq {
  // background: rgba(63, 63, 63, 0.82);
}
</style>
