<template>
  <div id="home" class="relative pointer-events-none">
    <section id="mainContent" class="relative w-screen flex items-center pointer-events-none">
      <div id="contentHolder" class="w-screen pointer-events-auto">
        <!-- <div id="contentHolder" class="absolute w-screen dkblue pointer-events-auto"> -->
        <div id="signup" class="text-center" v-show="!loggedIn">
          <h1 v-html="pageData.Headline_LO"></h1>
          <div class="text-center" v-html="pageData.Content_LO"></div>
          <div class="mx-auto text-center pt-3 pb-3 grid grid-cols-2 gap-4">
            <router-link
              class="col-span-1 btn ltblue rounded-sm lg:py-4 sm:py-1 lg:text-xl sm:text-lg"
              to="/signup"
              tag="button"
              >SIGN UP</router-link
            >
            <router-link
              class="col-span-1 btn ltblue rounded-sm lg:py-4 sm:py-1 lg:text-xl sm:text-lg"
              to="/learn-more"
              tag="button"
              >LEARN MORE</router-link
            >
          </div>
          <div class="text-center" v-html="pageData.Content_LO2"></div>
        </div>
      </div>
    </section>
    <div id="legend" class="absolute left-5 inline-block pointer-events-none text-center m-auto">
      <div class="inline-block text-left">
        <p class="text-evening sans font-bold sm:text-sm"><span class="evening inline-block p-2 mr-1"></span>9pm</p>
        <p class="text-yellow sans font-bold sm:text-sm"><span class="yellow inline-block p-2 mr-1"></span>7am</p>
      </div>
    </div>

    <div class="relative inspirationcta w-screen flex m-auto justify-center mb-5 opacity-40">
      <img src="@/assets/img/home/current_inspirations.svg" alt="current inspirations title" />
    </div>
    <section id="inspiration" class="relative w-screen pointer-events-auto">
      <div id="inspirationBG" class="dkblue absolute t-1 l-t w-full h-full"></div>
      <!-- <section id="inspiration" class="dkblue absolute w-screen grid lg:grid-cols-3 sm:grid-cols-1 gap-0"> -->
      <div class="text-center">
        <h2 class="pt-3">Affirmations</h2>
        <!-- <p
          class="text-white italic"
          v-show="inspiration.affirmation.content.length < 30"
          v-html="inspiration.affirmation.content"
        ></p> -->
        <p class="text-white reveal italic cursor-pointer px-5">
          <a data-type="affirmation" @click.prevent="modalClick" v-html="`${inspiration.affirmation.Title}...`"></a>
        </p>
      </div>
      <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-0">
        <div class="text-center">
          <h2>Music</h2>
          <p class="text-white cursor-pointer">
            <a
              data-type="video"
              :title="this.inspiration.song.Title"
              v-html="this.inspiration.song.Title"
              @click.prevent="modalClick"
            ></a>
          </p>
        </div>
        <div class="text-center">
          <h2>Readings</h2>
          <p class="text-white cursor-pointer">
            <a
              data-type="readings"
              :title="inspiration.reading.Title"
              v-html="inspiration.reading.Title"
              @click.prevent="modalClick"
            ></a>
          </p>
        </div>
      </div>
    </section>
    <!--Modal-->
    <Modal v-if="showModal" @close="showModal = false">
      <span slot="header" v-html="modalProps.title"></span>
      <div slot="body" v-html="modalProps.content"></div>
    </Modal>
  </div>
</template>

<script>
import axios from 'axios';
import Modal from '@/components/modal.vue';
import 'tailwindcss/tailwind.css';
import gsap from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';

export default {
  components: { Modal },
  data() {
    return {
      showModal: false,

      pageData: {},
      loggedIn: false,
      inspiration: {
        affirmation: {
          label: 'Affirmation',
          content: 'Live. Feel. Breath.',
        },
        song: {
          label: 'Song',
          content: 'Willie Nelson, <i>Over the Rainbow</i>',
          type: 'video',
          url: 'https://www.youtube.com/watch?v=h-8158o3Uzc',
        },
        reading: {
          label: 'Reading',
          content: 'Gandhi’s <i>Prayer for Peace</i>',
          type: 'page',
          url: 'https://www.youtube.com/watch?v=h-8158o3Uzc',
        },
      },
      modalProps: {},
    };
  },
  created() {
    /*
    axios
      .get(this.$store.state.api + 'about-us/')
      .then((response) => {
        console.log(`about us: ${JSON.stringify(response.data)}`);
      })
      .catch((error) => console.log(error));

*/

    // LOAD FROM API
    axios
      .get(this.$store.state.api + 'home-page/')
      .then((response) => {
        // console.log(`home: ${JSON.stringify(response.data)}`);

        this.pageData = response.data;
        this.inspiration.affirmation = this.pageData.affirmations[
          Math.floor(Math.random() * (this.pageData.affirmations.length - 1))
        ];
        this.inspiration.song = this.pageData.songs[Math.floor(Math.random() * (this.pageData.songs.length - 1))];
        this.inspiration.reading = this.pageData.passages[
          Math.floor(Math.random() * (this.pageData.passages.length - 1))
        ];

        this.$forceUpdate();
      })
      .catch((error) => console.log(error));
  },
  mounted() {
    gsap.registerPlugin(ScrollTrigger);
    this.loggedIn = this.$store.state.user.authenticated;

    // var config = {
    //   opacity: 1.0,
    //   scrollTrigger: {
    //     // markers:true,
    //     start: '77%',
    //     end: 'bottom bottom',
    //     scrub: 0.65,
    //     trigger: '#home',
    //     toggleActions: 'restart pause reverse none',
    //   },
    // };
    // gsap.to('#inspirationBG', config);
    this.$forceUpdate();
    this.$store.watch(
      (state) => {
        return state.user.authenticated;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.loggedIn = newVal;
          this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  watch: {
    $route: {
      immediate: true,
      handler: function(newVal, oldVal) {
        if (newVal !== oldVal) {
          this.showModal = newVal.meta && newVal.meta.showModal;
        }
      },
    },
  },
  methods: {
    modalClick: function(e) {
      // var modalHTML = e.target.getAttribute('href');
      var modalContent, modalData, title;
      switch (e.target.dataset.type) {
        case 'video':
          modalData = this.inspiration.song;
          var playerVars = {
            autoplay: 1,
            controls: 1,
            enablejsapi: 1,
            modestbranding: 0,
            playsinline: 1,
            rel: 0,
            origin: window.location.origin,
          };
          var vidID = modalData.SongURL.split('v=')[1];
          var playerVarStr = Object.entries(playerVars)
            .map((pair) => pair.join('='))
            .join('&');
          modalContent = `<div id="vframe"><iframe width="100%" height="100%" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" src="https://www.youtube.com/embed/${vidID}?${playerVarStr}"></iframe></div>`;
          title = modalData.Title;
          break;
        case 'readings':
          modalData = this.inspiration.reading;
          title = modalData.Title;
          modalContent = `<div class="readings w-full h-screen max-w-half md:w-4/5 mx-auto max-h-full flex items-center"><p class="serif px-20 w-full text-center">${modalData.Content}</p></div>`;
          break;
        case 'affirmation':
          modalData = this.inspiration.affirmation;
          title = '';
          modalContent = `<div class="passage w-full h-screen md:w-4/5 mx-auto max-h-full flex items-center"><h1 class="serif w-full px-20 text-center">${modalData.Content}</h1></div>`;
          break;
      }
      var newModal = {
        type: e.target.dataset.type,
        title: title,
        content: modalContent,
        active: true,
      };
      this.modalProps = newModal;
      this.showModal = true;
      console.log('modalclick', this.showModal);

      // this.$store.dispatch('setState', { target: 'modalActive', value: true });
      // this.$forceUpdate();
      // this.modal.footer
      // this.toggleModal();
    },
  },
};
</script>
<style lang="scss" scope>
// @import 'tailwindcss/base';
@import '../styles/helpers';
@import '../styles/typovars';
#home {
  #mainContent {
    overflow: visible;
    margin: auto;
    display: flex;
    height: calc(100vh - 130px);
    // min-height: 700px;
    #contentHolder {
      transform-origin: center center;
      margin: auto;
      padding: 0px;
      max-width: 780px;
      h1 {
        @include fluid-type($minwidth, $medwidth, 38px, 45px);
      }
      // @media only screen and (min-height: 1000px) {
      //   transform: scale(1.15);
      // }
      @media only screen and (max-width: $minwidth) {
        padding: 10px 17px 20px;

        button {
          padding: 5px;
          // margin:0px;
          min-width: initial;
        }
        br {
          display: none;
        }
      }
    }

    @media only screen and (max-width: $minwidth) {
      height: initial;
      // min-height: initial;
      min-height: calc(100vh - 210px);
    }
  }
  .st0 {
    fill: #fff;
  }

  .inspirationcta {
    @media only screen and (max-width: $minwidth) {
      // padding-top: 140px;
    }
  }
  #legend {
    @media only screen and (max-width: $minwidth) {
      bottom: initial;
      top: 65%;
    }
  }

  #inspiration {
    // background-color: rgba(16, 31, 57, 0.12);
    // bottom: 0px;
    // left: 0px;
    // min-height: calc(148 / 1080 * 100vh);
    min-height: 148px;
    padding-bottom: 30px;

    #inspirationBG {
      // opacity: 0.12;
      opacity: 0.9;
      // @media only screen and (max-width: $minwidth) {
      //   opacity: 0.9;
      // }
    }
    div.text-center {
      position: relative;
      padding-top: 29px;
      padding-top: calc(10 / 1080 * 100vh);
      &:after {
        content: ' ';
        width: 1px;
        height: 35%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        top: 50%;
        right: 0px;
        transform: translateY(-10%);
      }
      &:last-child {
        &:after {
          content: '';
          display: none;
        }
      }
      @media only screen and (max-width: $medwidth) {
        &:after {
          content: '';
          display: none;
        }
      }
    }
    h2 {
      // font-size: calc(28 / 1920 * 100vh);
      font-size: 28px;
      @include fluid-type($minwidth, $maxwidth, 14px, 24px);
      padding-bottom: 5px;
      letter-spacing: 0.02em;
    }
    p {
      // font-size: calc(32 / 1920 * 100vh);
      font-size: 32px;
      color: $yellow;
      @include fluid-type($minwidth, $maxwidth, 16px, 24px);
      a {
        text-decoration: underline;
        * {
          pointer-events: none;
        }
        @media (hover: hover) {
          transition: color 0.25s ease;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    // .text-white.italic {
    //   @include fluid-type($minwidth, $maxwidth, 28px, 34px);
    // }
    @media only screen and (max-width: $medwidth) {
      padding-bottom: 60px;
    }
  }
}
</style>
