<template>
  <section id="inspiration">
    <div id="mainContent" class="w-full">
      <div class="intro text-center pb-10">
        <h1 class="text-white pb-5">Inspiration</h1>
        <div
          class="menu w-full block m-auto text-center py-10 lg:grid-cols-4 xs:grid-cols-2 gap-2"
          :class="{ affirmationActive: affirmationActive, songsActive: songsActive, readingsActive: readingsActive }"
        >
          <button @click.prevent="showDesc('')" :class="{ active: allOff }">ALL</button>
          <button
            @click.prevent="showDesc('affirmation')"
            @mouseover="affirmationHover = true"
            @mouseleave="affirmationHover = false"
            :class="{ active: affirmationActive }"
          >
            AFFIRMATIONS
          </button>
          <button
            @click.prevent="showDesc('songs')"
            @mouseover="songsHover = true"
            @mouseleave="songsHover = false"
            :class="{ active: songsActive }"
          >
            MUSIC
          </button>
          <button
            @click.prevent="showDesc('readings')"
            @mouseover="readingsHover = true"
            @mouseleave="readingsHover = false"
            :class="{ active: readingsActive }"
          >
            READINGS
          </button>
        </div>
        <div class="overview m-auto max-w-xl">
          <p
            class=""
            v-show="allOff && !affirmationHover && !songsHover && !readingsHover"
            v-html="pageData.Content"
          ></p>
          <p class="italic" v-show="affirmationHover" v-html="pageData.AffirmationsDescription"></p>
          <p class="italic" v-show="songsHover" v-html="pageData.SongsDescription"></p>
          <p class="italic" v-show="readingsHover" v-html="pageData.PassagesDescription"></p>
        </div>
      </div>
      <div v-show="affirmationActive || allOff">
        <h2 class="pb-10">Affirmations</h2>
        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-x-10 gap-y-6">
          <div v-for="(item, index) in affirmations" :key="item.id" class="tile">
            <a data-type="affirmation" :data-ref="index" @click="modalClick"
              ><h4>{{ checkLength(item.Title, 80) }}</h4></a
            >
          </div>
        </div>
      </div>
      <div v-show="songsActive || allOff">
        <h2 class="pb-10">Music</h2>
        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-x-10 gap-y-6">
          <div v-for="(item, index) in songs" :key="item.id" class="tile">
            <a data-type="video" :data-ref="index" @click="modalClick"
              ><h4>{{ checkLength(item.Title, 80) }}</h4>
              <p>{{ checkLength(item.Byline, 80) }}</p></a
            >
          </div>
        </div>
      </div>
      <div v-show="readingsActive || allOff">
        <h2 class="pb-10">Readings</h2>
        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-x-10 gap-y-6">
          <div v-for="(item, index) in readings" :key="item.id" class="tile">
            <a data-type="readings" :data-ref="index" @click="modalClick"
              ><h4>{{ checkLength(item.Title, 80) }}</h4>
              <p>{{ checkLength(item.Byline, 80) }}</p></a
            >
          </div>
        </div>
      </div>
    </div>
    <!--Modal-->
    <Modal v-if="showModal" @close="showModal = false">
      <span slot="header" v-html="modalProps.title"></span>
      <div slot="body" v-html="modalProps.content"></div>
    </Modal>
  </section>
</template>

<script>
import axios from 'axios';
import Modal from '../components/modal.vue';

export default {
  components: { Modal },
  data() {
    return {
      token: '',
      loaded: false,
      loggedIn: false,
      pageData: {},
      affirmationHover: false,
      songsHover: false,
      readingsHover: false,
      affirmationActive: false,
      songsActive: false,
      readingsActive: false,
      affirmations: [],
      songs: [],
      readings: [],
      showModal: false,
      modalProps: {},
    };
  },
  mounted() {
    this.checkSession();
    if (!this.loaded) {
      this.loadContent();
      this.loaded = true;
    }

    // this.$store.watch(
    //   (state) => {
    //     return state.user.authenticated;
    //   },
    //   ((newVal, oldVal) => {
    //     if (newVal !== oldVal) {
    //       //   this.$forceUpdate();
    //     }
    //   }).bind(this),
    //   {}
    // );
  },
  computed: {
    allOff() {
      return !this.affirmationActive && !this.songsActive && !this.readingsActive;
    },
  },
  methods: {
    showDesc: function(category) {
      switch (category) {
        case 'affirmation':
          this.affirmationActive = true;
          this.songsActive = false;
          this.readingsActive = false;
          break;
        case 'songs':
          this.affirmationActive = false;
          this.songsActive = true;
          this.readingsActive = false;

          break;
        case 'readings':
          this.affirmationActive = false;
          this.songsActive = false;
          this.readingsActive = true;
          break;
        default:
          this.affirmationActive = false;
          this.songsActive = false;
          this.readingsActive = false;
          break;
      }
    },
    checkLength: function(content, length) {
      return content.length > length ? `${content.substring(0, length)}...` : content;
    },
    checkSession: function() {
      var tokenAvail = window.localStorage.length;
      if (tokenAvail == 0) {
        return;
      } else {
        let userToken = localStorage.getItem('userToken');
        if (userToken) {
          this.token = userToken;
        }
      }
    },
    callApi: function(path, secureFlag, callback) {
      if (secureFlag) {
        axios
          .get(this.$store.state.api + path, {
            headers: {
              Authorization: `Bearer ${this.token}`,
            },
          })
          .then(callback)
          .catch((error) => console.log(error));
      } else {
        axios
          .get(this.$store.state.api + path)
          .then(callback)
          .catch((error) => console.log(error));
      }
    },
    loadContent: function() {
      this.callApi('inspiration-page/', false, (response) => {
        this.pageData = response.data;
      });
      this.callApi('inspirations/', false, (response) => {
        this.affirmations = response.data;
        // console.log(response.data);
        this.callApi('songs/', true, (response) => {
          this.songs = response.data;
          this.callApi('passages/', true, (response) => {
            this.readings = response.data;
          });
        });
      });
      //
      // 'inspirations/'
    },
    modalClick: function(e) {
      // var modalHTML = e.target.getAttribute('href');
      var modalContent, modalData, title;

      switch (e.target.dataset.type) {
        case 'video':
          modalData = this.songs[e.target.dataset.ref];
          var playerVars = {
            autoplay: 1,
            controls: 1,
            enablejsapi: 1,
            modestbranding: 0,
            playsinline: 1,
            rel: 0,
            origin: window.location.origin,
          };
          var vidID = modalData.SongURL.split('v=')[1];
          var playerVarStr = Object.entries(playerVars)
            .map((pair) => pair.join('='))
            .join('&');
          modalContent = `<div id="vframe"><iframe width="100%" height="100%" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" src="https://www.youtube.com/embed/${vidID}?${playerVarStr}"></iframe></div>`;
          title = modalData.Title;
          break;
        case 'readings':
          modalData = this.readings[e.target.dataset.ref];
          title = modalData.Title;
          modalContent = `<div class="readings w-full h-screen max-w-half md:w-4/5 mx-auto max-h-full flex items-center"><p class="serif px-20 w-full text-center">${modalData.Content}</p></div>`;
          break;
        case 'affirmation':
          modalData = this.affirmations[e.target.dataset.ref];
          console.log(modalData);
          title = modalData.showOverlayTitle == true ? modalData.Title : '';
          // title = modalData.Title;
          modalContent = `<div class="passage w-full h-screen md:w-4/5 mx-auto max-h-full flex items-center"><h1 class="serif w-full px-20 text-center">${modalData.Content}</h1></div>`;
          break;
      }
      var newModal = {
        type: e.target.dataset.type,
        title: title,
        content: modalContent,
        active: true,
      };
      this.modalProps = newModal;
      this.showModal = true;
    },
  },
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';
@import '../styles/shared';
.serif {
  font-family: $serif;
}
$headerOffset: 136px;
#inspiration {
  background: rgba(63, 63, 63, 0.98);
  min-height: calc(100vh);
}
section {
  position: relative;
}
button {
  color: #fff;
  background-color: transparent;
  font-size: 90%;
  padding-top: 5px;
  padding-bottom: 6px;
  &.active {
    background-color: $blue;
  }
}
.overview {
  min-height: 110px;
}
#mainContent {
  margin: auto;
  // margin-top: $headerOffset;
  padding: 136px 52px 60px 44px;
  max-width: 94vw;
  h2 {
    padding-bottom: 18px;
    color: $yellow;
  }
  .grid {
    padding-bottom: 60px;
  }
  .tile {
    margin-bottom: 0px;
    p {
      margin-bottom: 0px;
    }
    @media (hover: hover) {
      transition: background-color 0.25s ease;
      &:hover {
        background-color: $dkblue;
      }
    }
  }
  .readings {
    @include fluid-type($minwidth, $maxwidth, 16px, 20px);
  }
}
</style>
