<template>
  <div>
    <section id="learnmore" class="secondary w-full mb-10">
      <h1 class="text-center mb-5" v-html="pageData.Title">This is the about page</h1>
      <div class="content" v-html="pageData.Content"></div>
      <hr class="py-10" />
      <h1>Frequently Asked Questions</h1>
      <!-- ACCORDION MARKUP -->
      <div class="w-full lg:p-8 md:p-4">
        <div class="w-full relative">
          <div v-for="item in faqData.accordion" :key="item.id" class="tab w-full overflow-hidden border-b">
            <input class="text-yellow absolute opacity-0 " v-bind:id="item.id" type="checkbox" name="tabs" />
            <label class="block p-5 leading-normal cursor-pointer" v-bind:for="item.id"
              ><h2>{{ item.Title }}</h2></label
            >
            <div class="tab-content overflow-hidden leading-normal">
              <p class="lg:p-4 md:p-2 text-white">
                {{ item.Content }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  data() {
    return {
      pageData: {},
      faqData: {},
    };
  },
  created() {
    // LOAD FROM API
    axios
      .get(this.$store.state.api + 'learn-more/')
      .then((response) => {
        console.log(`learn more: ${JSON.stringify(response.data)}`);
        var showdown = require('showdown'),
          converter = new showdown.Converter(),
          html = converter.makeHtml(response.data.Content);
        this.pageData = response.data;
        this.pageData.Content = html;

        axios
          .get(this.$store.state.api + 'faq/')
          .then((response) => {
            console.log(`faq: ${JSON.stringify(response.data)}`);
            this.faqData = response.data;
            this.$forceUpdate();
          })
          .catch((error) => console.log(error));
        // this.$forceUpdate();
      })
      .catch((error) => console.log(error));
  },
  mounted() {},
  methods: {
    toggle: function() {
      var myRadios = document.getElementsByName('tabs2');
      var setCheck;
      var x = 0;
      for (x = 0; x < myRadios.length; x++) {
        myRadios[x].onclick = function() {
          if (setCheck != this) {
            setCheck = this;
          } else {
            this.checked = false;
            setCheck = null;
          }
        };
      }
    },
  },
};
</script>
<style lang="scss" scope>
@import '../styles/helpers';
@import '../styles/typovars';
@import '../styles/shared';
@import '../styles/accordion';

#learnmore {
  background: rgba(63, 63, 63, 0.98);
  padding: 136px 52px 60px 44px;

}
.secondary {
  .content {
    p {
      color: #fff;
      font-weight: 400;
      line-height: 1.5em;
    }
  }
  .tab-content {
    p {
      color: #fff;
    }
  }
  .tab input[type='checkbox'] + label {
    &:after {
      color: $yellow;
    }
  }
}
</style>
