<template>
  <div>
    <section id="mainContent" class="relative w-screen min-h-screen pointer-events-none lg:flex md:block lg:m-auto lg:p-0 md:pt-10 items-center">
      <div id="contentHolder" class="w-screen dkblue pointer-events-auto">
        <div>
          <h1>Log in.</h1>
          <form id="signupForm" @submit.prevent="loginSubmitted">
            <p v-show="responseMsg !== ''">
              <b>Unable to login:</b>&nbsp;
              {{ responseMsg }}
            </p>
            <label class="block">
              <custominput id="username" type="text" name="username" v-model="username" class="form-input mt-1 block w-full" placeholder="Username" required />
            </label>
            <label class="block">
              <custominput
                id="password"
                type="password"
                name="password"
                v-model="password"
                class="form-input mt-1 block w-full"
                placeholder="Password"
                autocomplete="password"
                required
              />
            </label>
            <div class="block mx-0 text-left grid lg:grid-cols-3 md:grid-cols-4 gap-5">
              <button type="submit" value="SUBMIT" class="btn yellow rounded-sm hover:bg-white lg:col-span-1 md:col-span-2">SUBMIT</button>
              <router-link tag="button" to="/" class="btn bg-blue opacity-85 rounded-sm hover:bg-white lg:col-span-1 md:col-span-2"
                >CANCEL</router-link
              >
            </div>
            <div class="flex items-center justify-between">
              <div class="inline-flex items-center">
                <input
                  id="remember_me"
                  type="checkbox"
                  class="h-4 w-4 text-white serif focus:ring-white-500 border-gray-300 rounded"
                />
                <label for="remember_me" class="ml-2 text-white serif">
                  Remember me
                </label>
              </div>

              <div>
                <router-link to="/forgot-password" class="font-medium serif text-white hover:text-white-500">
                  Lost your password?
                </router-link>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import custominput from '@/components/custominput.vue';

export default {
  components: {custominput},
  data() {
    return {
      username:'',
      password:'',
      responseMsg: '',
      loggedIn: false,
    };
  },
  mounted() {
    this.checkSession();
    this.$store.watch(
      (state) => {
        return state.user.authenticated;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          if (newVal) this.$router.push('/');
          //   this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  watch: {},
  methods: {
    saveSession: function(token) {
      window.localStorage.setItem('userToken', token);
    },

    checkSession: function() {
      var tokenAvail = window.localStorage.length;
      if (tokenAvail == 0) {
        return;
      } else {
        let userToken = localStorage.getItem('userToken');
        if (userToken) {
          this.$store.dispatch('setUserStatus', { target: 'authenticated', status: true });
          // this.$router.push('/');
        }
      }
    },
    loginSuccess: function(response) {
      console.log('User profile', response.data.user);
      // console.log('User token', response.data.jwt);
      this.$store.dispatch('setUserStatus', { target: 'username', status: response.data.user.username });
      this.$store.dispatch('setUserStatus', { target: 'token', status: response.data.jwt });
      this.saveSession(response.data.jwt);
      this.$store.dispatch('setUserStatus', { target: 'authenticated', status: true });
      this.$router.push('/');
      // this.$forceUpdate();
    },
    loginError: function(error) {
      console.log(error);
      this.responseMsg = JSON.stringify(
        `We were unable to log you in. Please share this information with our admin:\n ${JSON.stringify(error)}`
      );
    },
    loginSubmitted: function() {
      const user = document.querySelector('#username').value;
      const pass = document.querySelector('#password').value;
      var data = JSON.stringify({ identifier: user, password: pass });

      var config = {
        method: 'post',
        url: this.$store.state.authURL,
        headers: {
          'Content-Type': 'application/json',
        },
        data: data,
      };

      axios(config)
        .then(this.loginSuccess)
        .catch(this.loginError);
    },
  },
};
</script>
<style lang="scss" scope>
button{
  min-width:120px;
}
#mainContent {
  margin: auto;
  #contentHolder {
    // margin: auto;
    top: initial;
    left: initial;
    max-width: 660px;
  }
}
</style>
