<template>
  <input v-bind:value="val" @input="handleInput" />
</template>

<script>
export default {
  props: {
    value: {
      default: '',
      required: true,
      type: String,
    },
  },
  data: () => ({
    val: '',
  }),
  mounted: function() {
    this.$el.innerHTML = this.value;
  },
  watch: {
    value(v) {
      this.$el.innerHTML = v;
    },
  },
  methods: {
    handleInput: function(e) {
      this.$emit('handleInput', e.target.value);
    },
  },
};
</script>
