<template>
  <section id="map" class="fixed t-1 l-1 w-full h-full">
    <div id="map-div"></div>
    <!-- <div id="timezone">
      <div id="current"></div>
      <div v-show="loggedIn" id="personal"></div>
    </div> -->
  </section>
</template>

<script>
// import ThreejsLayer from '@/scripts/map/threejs-layer.js'
// import * as THREE from 'three';
// import { Detector } from '../scripts/map/detector.js';

export default {
  props: {
    // title: {
    //   type: String,
    //   default: ""
    // },
    // content: {
    //   type: String,
    //   default: ""
    // },
    // footer: {
    //   type: String,
    //   default: ""
    // }
  },
  components: {},
  data() {
    return {
      loggedIn: false,
      locationChecked: false,
      fallback: {},
      usersLoc: [],
      tzOffset: 0,
      timezone: '',
      title: this.title,
      content: this.content,
      footer: this.footer,
      tzLayer: null,
    };
  },
  mounted() {
    const google = window.google;
    this.fallback = new google.maps.LatLng(this.fallbackCoords);
    var container = document.getElementById('map-div');
    this.setMap(google, container, new google.maps.LatLng(34.7955938, -102.3476541));
    this.initMap(google, container);
    // var styleFunction = function(feature) {
    //   var offset = 0;
    //   var name = feature.get('name');
    //   var match = name.match(/([\-+]\d{2}):(\d{2})$/);
    //   if (match) {
    //     var hours = parseInt(match[1], 10);
    //     var minutes = parseInt(match[2], 10);
    //     offset = 60 * hours + minutes;
    //   }
    //   var date = new Date();
    //   var local = new Date(date.getTime() + (date.getTimezoneOffset() + offset) * 60000);
    //   // offset from local noon (in hours)
    //   var delta = Math.abs(12 - local.getHours() + local.getMinutes() / 60);
    //   if (delta > 12) {
    //     delta = 24 - delta;
    //   }
    //   var opacity = 0.75 * (1 - delta / 12);
    //   return new Style({
    //     fill: new Fill({
    //       color: [0xff, 0xff, 0x33, opacity],
    //     }),
    //     stroke: new Stroke({
    //       color: '#ffffff',
    //     }),
    //   });
    // };

    this.$store.watch(
      (state) => {
        return state.timezone;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal && newVal !== '') {
          this.timezone = newVal;
        }
      }).bind(this),
      {}
    );
  },
  watch: {},
  methods: {
    setMap(google, container, coords) {
      var styles = [
        {
          stylers: [
            //   { "invert_lightness": true },
            //   { "saturation": 1 },
            { visibility: 'on' },
          ],
        },
        {
          featureType: 'water',
          elementType: 'geometry.fill',
          stylers: [{ color: '#6a6b6b' }],
        },
        {
          elementType: 'labels',
          stylers: [{ visibility: 'off' }],
        },
        {
          featureType: 'landscape',
          stylers: [{ color: '#4b4a4a' }],
        },
        {
          featureType: 'road',
          stylers: [{ visibility: 'off' }],
        },
        // {
        //   featureType: 'poi',
        //   stylers: [{ visibility: 'off' }],
        // },
        {
          featureType: 'administrative',
          stylers: [{ visibility: 'off' }],
        },
        {
          featureType: 'administrative.country',
          elementType: 'geometry',
          stylers: [{ visibility: 'on' }],
        },
      ];
      if (!this.locationChecked) {
        this.map = new google.maps.Map(container, {
          zoom: (window.innerHeight / 510) * 1.3,
          scrollwheel: false,
          mapTypeControl: false,
          center: coords,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: styles,
          disableDefaultUI: true,
        });

        // new ThreejsLayer({ map: this.map }, function(layer){
          // this.loadVizLayer(layer,coords);
        // })
          this.kmzLayer = new google.maps.KmlLayer({
            url: '/kml/timezones.kml',
            suppressInfoWindows: true,
            map:this.map
          });
        console.log(this.kmzLayer);
        // this.tzLayer = new google.maps.KmlLayer({
        //   url: '../assets/KML_Samples.kml',
        //   // url: '../assets/timezones.kml',
        //   suppressInfoWindows: true,
        //   map: this.map,
        // });
      } else {
        this.map.setCenter(coords);
      }
    },
    // loadVizLayer(layer, coords){
    // texture = new THREE.Texture(generateSprite());
    // particles = new THREE.Object3D();
    // material = new THREE.SpriteMaterial({
    //   size: 20,
    //   map: texture,
    //   opacity: 1,
    //   blending: THREE.NormalBlending,
    //   depthTest: false,
    //   transparent: true
    // });

    // this.tzOverlays.forEach(function (photo) {
    //   var particle = new THREE.Sprite(material);
    //   var location = new google.maps.LatLng(photo[0], photo[1]),
    //     vertex = layer.fromLatLngToVertex(location);

    //   particle.position.set(vertex.x, vertex.y, 0);
    //   particle.scale.x = particle.scale.y = 20;
    //   particles.add(particle);
    //   material.size = 20;
    // });

    // layer.add( particles );
    // function update(){
    //   material.map = new THREE.Texture(generateSprite(material.size));
    //   layer.render();
    // }

    // },
    initMap(google, container) {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(
          ((position) => {
            if (this.locationChecked) return;
            this.locationChecked = true;
            console.log(':location check approved', position.coords.latitude, position.coords.longitude);
            this.setMap(google, container, new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
          }).bind(this),
          ((error) => {
            if (this.locationChecked) return;
            this.locationChecked = true;
            if (error.code == error.PERMISSION_DENIED) {
              console.log(':location check declined');
              // this.setMap(google, container, new google.maps.LatLng(34.7955938, -102.3476541));
            }
          }).bind(this)
        );
      } else {
        if (this.locationChecked) return;
        this.locationChecked = true;
        console.log(':location check not supported');
        // this.setMap(google, container, new google.maps.LatLng(34.7955938, -102.3476541));
      }
    },
    // generateSprite(size) {},
    // mapAdded: (layer, google) => {},
  },
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';

#map {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
  iframe {
    background-color: $ltgrey;
  }
}
#map-div {
  margin: 0;
  padding: 0;
  height: 100%;
}
</style>
