<template>
  <header
    class="lg:fixed md:fixed w-screen left-0 top-0 pointer-events-none"
    :class="{ secondary: showSecondaryHeader, dkblue: showSecondaryHeader, showListHeader: showListHeader }"
  >
    <div class="beta absolute top-2 right-5 opacity-50 fill-white">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15.9px" height="5.5px" overflow="visible">
        <path
          class="st0"
          d="M0,0.1C0.3,0,0.8,0,1.3,0C2,0,2.4,0.1,2.8,0.4c0.3,0.2,0.4,0.5,0.4,1c0,0.5-0.3,1-0.9,1.2v0 c0.5,0.1,1.1,0.6,1.1,1.4c0,0.5-0.2,0.8-0.5,1.1C2.6,5.3,2,5.5,1.1,5.5c-0.5,0-0.8,0-1.1-0.1V0.1z M0.7,2.3h0.6 c0.7,0,1.2-0.4,1.2-0.9c0-0.6-0.5-0.9-1.2-0.9c-0.3,0-0.5,0-0.6,0V2.3z M0.7,4.9c0.1,0,0.3,0,0.6,0c0.7,0,1.4-0.3,1.4-1 c0-0.7-0.6-1-1.4-1H0.7V4.9z"
        />
        <path class="st0" d="M7.1,2.9H5v1.9h2.3v0.6h-3V0h2.9v0.6H5v1.7h2.1V2.9z" />
        <path class="st0" d="M9.4,0.6H7.8V0h4v0.6h-1.6v4.8H9.4V0.6z" />
        <path
          class="st0"
          d="M12.6,3.7l-0.6,1.7h-0.7L13.2,0H14l1.8,5.4h-0.7l-0.6-1.7H12.6z M14.4,3.2l-0.5-1.6c-0.1-0.4-0.2-0.7-0.3-1h0 c-0.1,0.3-0.2,0.6-0.3,1l-0.5,1.6H14.4z"
        />
      </svg>
    </div>
    <div id="logo" class="absolute pointer-events-auto">
      <router-link to="/">
        <img src="../assets/img/gpp_logo_stack_white.svg" class="select-none" alt="Global Peace Practice" />
      </router-link>
    </div>
    <nav id="mainNav" class="absolute sans pointer-events-auto">
      <router-link v-show="loggedIn" to="/" :class="{ selected: currentRouteName == 'home' }">HOME</router-link>
      <router-link v-show="loggedIn" to="/inspiration" :class="{ selected: currentRouteName == 'inspiration' }"
        >INSPIRATION</router-link
      >
      <!-- <router-link v-show="loggedIn" to="/favorites" :class="{ selected: currentRouteName == 'favorites' }"
        >FAVORITES</router-link
      > -->
      <router-link v-show="loggedIn" to="/logout" :class="{ selected: currentRouteName == 'logout' }"
        >LOGOUT</router-link
      >
      <router-link v-show="!loggedIn" to="/login" :class="{ selected: currentRouteName == 'login' }">LOGIN</router-link>
    </nav>
    <div @click="toggleHamburger" id="hamburger" class="absolute pointer-events-auto">
      <div class="bg absolute w-full h-full"></div>
      <span class="absolute left-0 top-0"></span>
      <span class="mid absolute left-0"></span>
      <span class="absolute left-0 bottom-0"></span>
    </div>
    <div id="secondaryNav" class="absolute opacity-0 invisible pointer-events-auto">
      <div id="navBG" class="absolute top-0 left-0 w-full h-full dkblue" @click="closeHamburger"></div>
      <nav id="secondary" class="relative text-center mx-auto z-10">
        <router-link v-show="loggedIn" to="/" :class="{ selected: currentRouteName == 'home' }">HOME</router-link>
        <router-link to="/inspiration" v-show="loggedIn" :class="{ selected: currentRouteName == 'inspiration' }"
          >INSPIRATION</router-link
        >
        <!-- <router-link v-show="loggedIn" to="/favorites" :class="{ selected: currentRouteName == 'favorites' }"
          >FAVORITES</router-link
        > -->
        <router-link to="/learn-more" :class="{ selected: currentRouteName == 'learn-more' }">LEARN MORE</router-link>
        <router-link to="/about" :class="{ selected: currentRouteName == 'about' }">ABOUT</router-link>
        <!-- <router-link to="/donate">CONTRIBUTE</router-link> -->
        <router-link to="/contact" :class="{ selected: currentRouteName == 'contact' }">CONTACT</router-link>
        <router-link v-show="loggedIn" to="/logout" :class="{ selected: currentRouteName == 'logout' }"
          >LOGOUT</router-link
        >
        <router-link v-show="!loggedIn" to="/login" :class="{ selected: currentRouteName == 'login' }"
          >LOGIN</router-link
        >
        <!-- <router-link
          v-show="loggedIn"
          to="/settings"
          class="pt-20"
          :class="{ selected: currentRouteName == 'settings' }"
          >SETTINGS</router-link
        > -->
      </nav>
      <nav id="social">
        <a href="https://www.instagram.com/globalpeacepractice/" target="_blank" class="instagram"></a>
        <a href="https://twitter.com/GPeacePractice" target="_blank" class="twitter"></a>
        <a href="https://www.facebook.com/globalpeeacepractice" target="_blank" class="facebook"></a>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      // currentRouteName: 'home',
      loggedIn: false,
      bundler: 'Parcel',
    };
  },
  mounted() {
    this.checkSession();
    this.loggedIn = this.$store.state.user.authenticated;
    this.$store.watch(
      (state) => {
        return state.user.authenticated;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.loggedIn = newVal;
          this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },

    showSecondaryHeader() {
      return !['home', 'logout', 'login', 'signup', 'lost', 'learn-more', 'inspiration', 'favorites'].includes(
        this.currentRouteName
      );
    },
    showListHeader() {
      return ['inspiration', 'favorites', 'learn-more'].includes(this.currentRouteName);
    },
  },
  watch: {
    $route(newVal, oldVal) {
      if (newVal.name !== oldVal.name) {
        // console.log('route', newVal);
        this.closeHamburger();
        this.$forceUpdate();
      }
    },
  },
  methods: {
    checkSession: function() {
      var tokenAvail = window.localStorage.length;
      if (tokenAvail == 0) {
        return;
      } else {
        let userToken = localStorage.getItem('userToken');
        if (userToken) {
          this.$store.dispatch('setUserStatus', { target: 'authenticated', status: true });
          // this.$router.push('/');
        }
      }
    },

    toggleLoggedIn() {
      this.$store.dispatch('setUserStatus', { target: 'authenticated', status: !this.loggedIn });
    },
    toggleHamburger() {
      const hamburger = document.querySelector('#hamburger');
      const hamburgerNav = document.querySelector('#secondaryNav');
      hamburger.classList.toggle('menu-open');
      document.body.classList.toggle('menu-open');
      hamburgerNav.classList.toggle('opacity-0');
      hamburgerNav.classList.toggle('invisible');
      hamburgerNav.classList.toggle('menu-open');
    },
    closeHamburger() {
      const hamburger = document.querySelector('#hamburger');
      const hamburgerNav = document.querySelector('#secondaryNav');
      if (hamburger.classList.contains('menu-open')) {
        hamburger.classList.remove('menu-open');
        document.body.classList.remove('menu-open');
        hamburgerNav.classList.remove('menu-open');
        hamburgerNav.classList.add('opacity-0');
        hamburgerNav.classList.add('invisible');
      }
    },
    resetState() {},
  },
};
</script>
<style lang="scss" scope>
@import '../styles/helpers';
@import '../styles/typovars';
.beta {
  transform-origin: top right;
  transform: scale(1.75);
}
header {
  z-index: 300;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 136px;
  @media only screen and (max-width: $medwidth) {
    min-height: 116px;
  }

  // transition: background-color 0.15s ease-out;
}
#logo {
  left: 39px;
  top: 27px;
  width: 170px;
  height: 80px;
  display: flex;
  a {
    display: flex;
  }
  img {
    z-index: 9999;
    max-width: 180px;
    min-width: 130px;
    width: calc(180 / 1920 * 100vw);
    height: auto;
  }
  @media only screen and (max-width: $medwidth) {
    left: 5.125vw;
    top: 4vw;
    img {
      min-width: 105px;
    }
  }
}
nav {
  a {
    position: relative;
    display: block;
    font-family: $sans;
    font-size: 14px;
    @include fluid-type($minwidth, $maxwidth, 12px, 14px);

    color: rgb(254, 254, 254);
    font-weight: bold;
    letter-spacing: 0.03em;
  }
}
#mainNav {
  top: 60px;
  right: 140px;

  .menu-open & {
    visibility: hidden;
  }
  a {
    display: inline-block;
    margin-left: 31px;
    &:first-child {
      margin-left: 0px;
    }

    @media (hover: hover) {
      &:hover {
        &:after {
          content: ' ';
          position: absolute;
          top: 100%;
          left: 0px;
          display: block;
          width: 100%;
          height: 3px;
          background-color: $yellow;
        }
      }
    }

    &.selected {
      color: $yellow;
    }
  }
  @media only screen and (max-width: $medwidth) {
    visibility: hidden;
  }
}
#hamburger {
  transform-origin: top right;
  top: 58px;
  right: 50px;
  width: 40px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
  .bg {
    cursor: pointer;
  }
  span {
    background-color: #fff;
    transform-origin: center center;
    width: 100%;
    height: 4px;
    transition: all 0.22s ease-out;
    &.mid {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.menu-open {
    .top-0 {
      transform: translateY(7px) rotate(45deg);
    }
    .mid {
      opacity: 0;
    }
    .bottom-0 {
      transform: translateY(-19px) rotate(-45deg);
    }
    @media only screen and (max-width: $medwidth) {
      .top-0 {
        transform: translateY(50%) rotate(45deg);
      }

      .bottom-0 {
        transform: translateY(-20px) rotate(-45deg);
      }
    }
  }
  @media (hover: hover) {
    &:hover {
      span {
        background: $blue;
      }
    }
  }
  @media only screen and (max-width: $medwidth) {
    top: 10vw;
    right: 8vw;
    width: 35px;
    height: 26px;
  }
}
#secondaryNav {
  top: 0px;
  right: 0px;
  width: 100%;
  max-width: 25vw;
  height: 100vh;
  padding-top: 130px;
  transition: opacity 0.3s ease-out;
  &.menu-open {
    min-width: 280px;
  }

  a {
    padding: 2vh 0px;
    display: block;
    font-size: 24px;
    @media (hover: hover) {
      &:hover {
        color: $yellow;
      }
    }
    &.selected {
      color: $yellow;

      // &:after {
      //   content: ' ';
      //   position: absolute;
      //   top: 100%;
      //   left: 0px;
      //   display: block;
      //   width: 100%;
      //   height: 3px;
      //   background-color: $yellow;
      // }
    }
  }
  @media only screen and (max-width: $medwidth) {
    max-width: 100vw;
  }
}
#social {
  a {
    display: inline-block;
  }
}
#container {
  &:after {
    content: ' ';
    opacity: 0;
    transition: opacity 0.15s ease-out;
  }
  .menu-open & {
    &:after {
      position: fixed;
      background-color: $dkblue;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      opacity: 0.8;
    }
  }
}
</style>
