<template>
  <div id="container" class="relative w-screen">
    <Menu></Menu>
    <Map></Map>
    <router-view></router-view>
    <Legal></Legal>
  </div>
</template>
<script>
import Map from '@/components/map.vue';

import Menu from './components/header.vue';
import Legal from './components/legal.vue';
// import "tailwindcss/tailwind.css";
export default {
  components: {
    Menu,
    Legal,
    Map,
  },
  data() {
    return {
      currentComponent: 'home',
      bundler: 'Parcel',
    };
  },
  mounted() {
    this.$store.watch(
      (state) => {
        return state.path;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.currentComponent = newVal;
          console.log(newVal);
          // this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  watch: {},
  methods: {},
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
