@import url('../tailwind.css');
@import 'styles/helpers';
@import 'styles/typovars';
@import 'styles/shared';

html,
body {
  overflow: hidden;
  overflow-y:auto;
}
body {
  user-select: none;
  background: $ltgrey;
  min-height:900px;

  * {
    user-select: none;
  }
}
#container{
  overflow: hidden;
  // @media only screen and (max-width: $minwidth) {
  //  min-height: initial;
  // }

}